Source: eet
Section: core
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 6), cdbs, cdbs-embedded, automake, libtool, pkg-config, zlib1g-dev, libjpeg62-dev, libeina-dev
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org
XCS-Cross-Host-BuilD-Depends: debhelper (>= 6), cdbs, cdbs-embedded, automake, libtool, pkg-config
XCS-Cross-Build-Depends: libz1-dev, libjpeg62-dev, libeina-dev
XS-Vcs-Git: http://git.openinkpot.org/eet.git
XS-Vcs-Browser: http://git.openinkpot.org/eet.git

Package: libeet-dev
Section: libdevel
Architecture: any
Depends: libeet1 (= ${binary:Version}), zlib1g-dev | libz1-dev, libjpeg-dev, libeina-dev
Recommends: libeet-doc
Description: Enlightenment DR17 file chunk reading/writing library development files
 Eet is a tiny library designed to write an arbitary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allow
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than we need, and it was much simpler to implement
 this once here.
 .
 This package contains headers and static libraries for development with libeet.

Package: libeet1
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment DR17 file chunk reading/writing library
 Eet is a tiny library designed to write an arbitary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allow
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than we need, and it was much simpler to implement
 this once here.
 .
 It's small, fast, and does a job. It's heavily commented and fully documented.

Package: libeet-bin
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment DR17 file chunk reading/writing utility
 Eet is a tiny library designed to write an arbitary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allow
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than we need, and it was much simpler to implement
 this once here.
 .
 This package contains eet, an utility that allows you to extract, insert,
 encode and decode config blobs created with libeet.

Package: libeet-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libeet1 (= ${binary:Version})
Description: Enlightenment DR17 file chunk reading/writing library - debug symbols
 Eet is a tiny library designed to write an arbitary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allow
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than we need, and it was much simpler to implement
 this once here
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat easier
 to interpret core dumps. The libraries are installed in /usr/lib/debug and
 are automatically used by gdb.
