#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

CFLAGS += -fvisibility=hidden
LDFLAGS += -fvisibility=hidden

DEB_DH_STRIP_ARGS := --dbg-package=libeet-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath \
	--enable-amalgamation \
	--disable-old-eet-file-format \
	--disable-gnutls \
	--disable-openssl \
	--disable-cipher \
	--disable-signature \
	--disable-doc \
	--host=$(DEB_HOST_GNU_TYPE)
DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean

clean::
	[ ! -f Makefile ] || make distclean
